mixin secureScript(sourceUrl, integrityHash)
  script(src=sourceUrl integrity=integrityHash crossorigin="anonymous")

+secureScript("https://code.jquery.com/jquery-3.5.1.slim.min.js",
  "sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj")
+secureScript("https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js",
  "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo")
+secureScript("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js",
  "sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI")