extends ../includes/layout
include ../includes/bootstrap_mixins

prepend pageStyles
  - var pageTitle = "Gen 1 Catch Rates"

append pageContent
  div(class="container-fluid")
    form
      div(class="form-row")
        div(class="col-md form-group")
          label(for="game") Game
          select(class="form-control" id="game" aria-describedby="gameHelp")
            option(value="RB") Red/Blue
            option(value="Y") Yellow
          small(id="gameHelp" class="form-text text-muted") The game you're playing
        div(class="col-md form-group")
          label(for="ball") Poke Ball Type
          select(class="form-control" id="ball" aria-describedby="ballHelp")
            option(value="pokeBall") Poke Ball
            option(value="greatBall") Great Ball
            option(value="ultraBall") Ultra Ball
            option(value="safariBall") Safari Ball
          small(id="ballHelp" class="form-text text-muted") The poke ball you want to use
        div(class="col-md form-group")
          label(for="level") Encounter Level
          input(type="number" class="form-control" id="level" aria-describedby="levelHelp")
          small(id="levelHelp" class="form-text text-muted") The level of the Pokemon you want to catch
      div(class="form-row")
        div(class="col-md form-group")
          label(for="species") Encounter Species
          select(class="form-control" id="species" aria-describedby="speciesHelp")
            - var pokedex = require("./src/data/pokedex.json")
              each pokemon in pokedex
                option(value=`${JSON.stringify(pokemon)}`)=pokemon.name
          small(id="speciesHelp" class="form-text text-muted") Which pokemon you're encountering
        div(class="col-md form-group")
          label(for="status") Status Effect
          select(class="form-control" id="status" aria-describedby="statusHelp")
            option(value="none" selected) None
            option(value="poisoned") Poisoned
            option(value="paralyzed") Paralyzed
            option(value="burned") Burned
            option(value="frozen") Frozen
            option(value="asleep") Asleep
          small(id="statusHelp" class="form-text text-muted") Status effect if any
        div(class="col-md form-group")
          label(for="hpRange") % of Max HP
          input(type="range" class="form-control-range" id="hpRange")
      div(class="form-row")
        div(class="col-md form-group")
          button(type="button" class="btn btn-primary") Check Catch Rate
      div(class="form-row")
        div(class="col-md form-group")
          div(class="progress")
            div(class="progress-bar" id="actualRate" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100") 25%
      div(class="form-row")
        div(class="col-md form-group")
          div(class="progress")
            div(class="progress-bar" id="intendedRate" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100") 25%

append pageScripts
  script(src="js/main.js")