extends ../includes/layout
include ../includes/bootstrap_mixins

prepend pageStyles
  - var pageTitle = "Gen 1 Catch Rates"

append pageContent
  div(class="container")
    form
      div(class="form-row")
        div(class="col form-group")
          label(for="game") Game
          select(class="form-control" id="game" aria-describedby="gameHelp")
            option(value="RB") Red/Blue
            option(value="Y") Yellow
          small(id="gameHelp" class="form-text text-muted") The game you're playing
        div(class="col form-group")
          label(for="ball") Poke Ball Type
          select(class="form-control" id="ball" aria-describedby="ballHelp")
            option(value="pokeBall") Poke Ball
            option(value="greatBall") Great Ball
            option(value="ultraBall") Ultra Ball
            option(value="safariBall") Safari Ball
          small(id="ballHelp" class="form-text text-muted") The poke ball you want to use
        div(class="col form-group")
          label(for="level") Encounter Level
          input(type="number" class="form-control" id="level" aria-describedby="levelHelp")
          small(id="levelHelp" class="form-text text-muted") The level of the Pokemon you want to catch
        div(class="col form-group")
          label(for="species") Encounter Species
          select(class="form-control" id="species" aria-describedby="speciesHelp")
            - var pokedex = require("./src/data/pokedex.json")
              each pokemon in pokedex
                option(value=`${JSON.stringify(pokemon)}`)=pokemon.name
          small(id="speciesHelp" class="form-text text-muted") Which pokemon you're encountering
      div(class="form-row")
        div(class="col")
          button(type="button" class="btn btn-primary") Check Catch Rate
      div(class="form-row")
        div(class="form-group col")
          output(id="catchRate")

append pageScripts
  script(src="js/main.js")